body {
    background-color: #2B303A;
    font-family: sans-serif;
    color: 
}

.container {
    border: 2px solid #564787;
    background-color: #564787;
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 2rem;
}
h1 {
    text-align: center;
}
#quiz {
    border: 2px solid #FDCA40;
    border-radius: 2rem;
    background-color: #FDCA40;

    padding: 2rem;
}